.about_me {
  margin-top: 60px;
  .container {
    @extend .grey, .lighten-4;
    width: 80%;
    padding-bottom: 30px;
    @include border-radius(20px);
    h4 {
      text-align: center;
      padding-top: 20px;
    }
    p {
      padding-bottom: 20px;
    }
    img {
      width: 100%;
      @include border-radius(20px);
    }
  }
}
