footer {
  @extend .grey, .darken-3;
  margin-top: 60px;
  padding: 20px 0;

  .form-head {
    text-align: center;
    margin-bottom: 20px;
    p {
      @extend .grey-text, .text-lighten-2;
      margin: 0;
      span {
        font-style: italic;
      }
    }
  }

  .about-homepage {
    text-align: center;
    p {
      @extend .grey-text, .text-lighten-2;
      margin: 0;
      span {
        font-style: italic;
        padding-right: 10px;
      }  // span
    }  // p
  }  // about-homepage

  .follow-me {
    text-align: center;
    margin-top: 20px;
    .linkedin {
      margin: 0 10px;
    }
    img {
      width: 20%;
    }

  }
}
