#index-banner {
  min-height: 600px;
  line-height: 0;
  .index {
    width: 100%;
    text-align: center;
    .container {
      margin-top: 200px;
      @include breakpoint(max-width $small) {
        margin-top: 120px;
      }
      h1 {
        @extend .grey-text, .text-lighten-5;
        font-family: $introFont;
        font-size: 4em;
        margin-bottom: 0px;        
        @include breakpoint(max-width $small) {
          font-size: 3.0em;
        }  // breakpoint
      }  // h1
      p {
        font-family: $introFont;
        font-size: 1.3em;
        padding-top: 20px;
        @include breakpoint(max-width $small) {
          font-size: 1.2em;
        }  // breakpoint
      }  // p
      img {
        width: 20%;
        margin-top: 20px;
      }  // img
    }  // container
  }  // index
}  // index-banner
